@model TheLearningCenter.WebSite.Models.ClassEnrollmentModel
@*@model TheLearningCenter.WebSite.Models.ClassModel*@



@*@{
        ViewBag.Title = "Enroll In Class";
    }


    <div class="row">
        <div>
            <h1>Enroll In Class</h1>
        </div>
        <div class="col-md-4">
            <select class="form-control" id="Classes" name="Classes">
                    <option>Select Class</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            @Html.DropDownListFor(ClassPageModel => ClassPageModel, )
        </div>



        <div class="col-md-5">
            <button>Add Class</button>

        </div>

    </div>


    @model TheLearningCenter.WebSite.Models.ClassPageModel
    @{
        ViewBag.Title = "Enroll In Class";
    }


    <div class="row">
        <Html>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        @foreach (var item in Model.Classes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassPrice)
                </td>
            </tr>
        }
    </Html>
    </div>*@



@Html.LabelFor(m => m.SelectedClassId)
@Html.DropDownListFor(m => m.SelectedClassId, Model.ClassItems)
@Html.ValidationMessageFor(m => m.SelectedClassId)
<input type="submit" value="Submit" />





@*https://stackoverflow.com/questions/36198809/dropdownlist-with-foreach-loop-in-c-sharp-mvc


https://odetocode.com/blogs/scott/archive/2013/03/11/dropdownlistfor-with-asp-net-mvc.aspx*@

